body{
    background-image: url("https://media.istockphoto.com/photos/abstract-gradient-dark-purple-background-gradient-dark-purple-color-picture-id1162940275?b=1&k=20&m=1162940275&s=170667a&w=0&h=ZljXD6Zhb_F-nJgKxUimM8XisOjZwUu-VZJZt6qE6WU=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
div{
    margin: 2% 0%;
}
form{
    font-size: large;
    padding: 0% 5%;
    margin: 0% 25% ;
    border: 1px solid white;
    width: 50%;
    color: wheat;
    background-color: rgba(255, 255, 255, 0.347);
    border-radius: 10px;
}
span{
    font-weight: bold;
    display: inline-block;
}
input[type="submit"]{
    width: 80px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, rgb(47, 47, 47), rgb(164, 46, 164), rgb(47, 47, 47));
    color: white;
    font-weight:500;
}
header{
    padding: 10px;
    color: white;
    background: linear-gradient(45deg, black, purple);
    border-bottom: 1px solid white;
}
.icons{
    margin: 5px;
}
footer{
    padding: 10px;
    color: white;
    background: linear-gradient(45deg, black, purple);
    border-top: 1px solid white;
}